<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="Index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  
	<system.web>
    <trust level="Full" />
    <httpRuntime requestValidationMode="2.0" />
    <pages validateRequest="false"></pages>
		<compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"></customErrors>
	</system.web>
	<connectionStrings>
		<add name="DataConnect" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Stuff.mdf;Integrated Security=True;User Instance=True" />
	</connectionStrings>
</configuration>
